{% extends "templates/home_base.html" %}


{% block header %}
    <div class="song-block song-info" style="display: flex; padding-top: 70px">
        <img id="song_image" src="{{ MEDIA_URL }}{{ song.get_image_uri }}" alt="{{ song.name }}">
        <div>
            <b>Song</b>
            <h1>{{ song.name }}</h1>
            <b style="display: flex; flex-direction: row; align-items:center ">
                by
                <img src="{{ MEDIA_URL }}{{ song.get_artist.user.get_image_uri }}" alt="" 
                     style="border-radius: 50% ;height: 25px; width: auto; margin: 0 5px 0 5px; box-shadow: none"> 
                {{ song.get_artist_name }}
            </b>
            <div style="display: flex; flex-direction: row">
                <p class="duration">
                </p>
                <p>
                    &nbsp;•&nbsp;{{ song.view_count }}&nbsp;•&nbsp;{{ song.upload_date.year }}
                </p>
            </div>
            
        </div>
    </div>
{% endblock %}

{% block main %}
    
    <script>
    $(document).ready(function() {
        var audioElement = new Audio();
        audioElement.src = "{% url 'stream_song' song.id %}";
        audioElement.onloadedmetadata = function() {
            var duration = audioElement.duration;
            var minutes = Math.floor(duration / 60);
            var seconds = Math.floor(duration % 60);
            document.querySelector('.duration').textContent = minutes + ":" + (seconds < 10 ? "0" : "") + seconds;
        };
        
        const colorThief = new ColorThief();
        const img = document.getElementById('song_image');
        var palette = colorThief.getPalette(img);
        var mostColorfulColor = getMostColorfulColor(palette);
        const rgbColor = 'rgb(' + mostColorfulColor;
        document.querySelector('.song-block').style.background = 'linear-gradient(to bottom,'
            + rgbColor + ')' + '0%, '
            + rgbColor + ',0.9)' + '18%, '
            + rgbColor + ',0.85)' + '34%, '
            + rgbColor + ',0.7)' + '59%, '
            + rgbColor + ',0.5)' + '100%)';
    });
    function calculateColorfulness(color) {
        var r = color[0];
        var g = color[1];
        var b = color[2];
        return Math.sqrt(Math.pow(r - g, 2) + Math.pow(g - b, 2) + Math.pow(b - r, 2));
    }
    
    function getMostColorfulColor(palette) {
        var mostColorfulColor = palette[0];
        var maxColorfulness = calculateColorfulness(mostColorfulColor);
    
        for (var i = 1; i < palette.length; i++) {
            var colorfulness = calculateColorfulness(palette[i]);
            if (colorfulness > maxColorfulness) {
                maxColorfulness = colorfulness;
                mostColorfulColor = palette[i];
            }
        }
    
        return mostColorfulColor;
    }

    </script>
{% endblock %}