{% extends "templates/home_base.html" %}
{% load static %}
{% block header %}
    <div class="search-title">Upload Song</div>
{% endblock %}
{% block main %}
   <section style=" margin-top:0; padding:0; overflow-x: visible; white-space:nowrap;">
        <form
                id="uploadForm"
                hx-post="{% url "upload_song" %}"
                hx-encoding="multipart/form-data"
                hx-target="#swap"
                hx-swap="outerHTML"
        >
            {% csrf_token %}
            <div class="input-box" style="width: 400px">
                {% if form.name.errors %}
                    <div class="error text-xs">{{ form.name.errors }}</div>
                {% endif %}
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:
                    <input class="bg-gray-800 text-white border border-gray-600 rounded mb-4 px-1 py-1"
                           type="text" name="{{ form.name.name }}" style="width: 400px">
                </label>
            </div>
        
            <div class="input-box">
                {% if form.song_file.errors %}
                    <div class="error text-xs">{{ form.song_file.errors }}</div>
                {% endif %}
                <label for="{{ form.song_file.id_for_label }}">{{ form.song_file.label }}:
                    <input type="file" name="{{ form.song_file.name }}"
                           class="bg-gray-800 text-white border border-gray-600 rounded mb-4 px-1 py-1" accept="audio/*">
                </label>
            </div>
        
            <div class="input-box">
                {% if form.image_file.errors %}
                    <div class="error text-xs ">{{ form.image_file.errors }}</div>
                {% endif %}
                <label for="{{ form.image_file.id_for_label }}">{{ form.image_file.label }}:
                    <input type="file" id="image_file" name="{{ form.image_file.name }}"
                           class="bg-gray-800 text-white border border-gray-600 rounded mb-4 px-1 py-1" accept="image/*">
                </label>
            </div>
            <img id="songImage" src="{{ MEDIA_URL }}{{ '/media/image/song/default.png' }}" alt="User Image"
                 height="120" width="120">
            <br>
            <div style="flex-direction: row; display: flex; gap:50px;">
                <div class="input-box">
                    {% if form.genres.errors %}
                        <div class="error text-xs mb-1">{{ form.genres.errors }}</div>
                    {% endif %}
                    <label for="{{ form.genres.id_for_label }}">{{ form.genres.label }}: <br>
                        <select class="bg-gray-800 text-white border border-gray-600 rounded py-1 px-1 mb-4"
                                name="{{ form.genres.name }}">
                            {% for value, name in form.genres.field.choices %}
                                <option value="{{ value }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            
                <div class="input-box">
                    {% if form.albums.errors %}
                        <div class="error text-xs mb-1">{{ form.albums.errors }}</div>
                    {% endif %}
                    <label for="{{ form.albums.id_for_label }}">{{ form.albums.label }}: <br>
                        <select multiple class="bg-gray-800 text-white border border-gray-600 rounded py-1 px-1 mb-4"
                                name="{{ form.albums.name }}">
                            {% for value, name in form.albums.field.choices %}
                                <option value="{{ value }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                    </label>
                </div>
            </div>
            <br>
            <button id="upload" type="submit" class="gradient-button font-bold py-2.5 px-6 rounded mb-4">Upload</button>
        </form>
        <div id="loading" style="display: none;">
            <p>Uploading song, please wait...</p>
        </div>
   
   </section>
    <script>
        var songImageInput = document.getElementById('image_file');
        var songImage = document.getElementById('songImage');
        var uploadButton = document.getElementById('upload');
        var loading = document.getElementById('loading');
        
        document.getElementById('uploadForm').addEventListener('submit', function() {
            uploadButton.style.display = 'none';
            loading.style.display = 'block';
        });
        
        document.getElementById('uploadForm').addEventListener('invalid', function() {
            uploadButton.style.display = 'block';
            loading.style.display = 'none';
        }, true);
        
        songImageInput.addEventListener('change', function () {
            if (songImageInput.files && songImageInput.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    songImage.src = e.target.result;
                }

                reader.readAsDataURL(songImageInput.files[0]);
            }
        });
        
    </script>
    
{% endblock %}