* {
  padding: 0px;
  margin: 0px;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: black;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100%;
    width: 99%;
    margin: 8px;
    gap: 8px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas: 
    "nav main main main main main main main"
    "lib main main main main main main main"
    "lib main main main main main main main"
    "lib main main main main main main main"
    "lib main main main main main main main"
    "lib main main main main main main main"
    "lib main main main main main main main"
    "lib main main main main main main main"
    "bar bar bar bar bar bar bar bar";
}

.item {
    background-color: #1D1D1F;
    border-radius: 12px;
}

.navigation-list {
    grid-area: nav;
    
    
}

.library-list a {
  text-decoration: none;
  padding: 8px 0px;
  
}

.library-list .fa{
  color: #b3b3b3;
  font-size: 24px;
}

.library-list .fa.fa-book {
  font-size: 24px;
  margin-right: 8px;
  margin-left: 8px;
}

.library-list a span {
  font-size: 16px;
}

.library-list.item a:hover > span {
  color: #ffffff;
}

.library-list {
    grid-area: lib;

    padding: 8px 0px 8px 0px;
}

.main-content {
    grid-area: main;
}

.controller-bar {
    grid-area: bar;
    border-radius: 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
    "song song play play play play volume volume";
    
}

/* Navigation list */
.navigation-list .layout {
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    align-self: start;
}
.navigation-list .logo img {
    width: 8em;
    align-self: flex-start;
}
.navigation-list .navigation-bar{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.navigation-list .navigation-bar ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.navigation-list .navigation-bar ul li {
    padding: 8px 0px;
}
.navigation-list .navigation-bar ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    word-spacing: 8px;
}
.navigation-list .navigation-bar .fa {
    color: #b3b3b3;
    font-size: 24px;
}
.navigation-list .navigation-bar .button:hover span{
    color: #ffffff;
}
.navigation-list .navigation-bar .active {
    border-right: solid #1ED760 4px;
}
.navigation-list .navigation-bar .button {
    padding-left: 8px;
}

.navigation-list .policies ul {
    list-style: none;
}
.navigation-list .policies ul li {
    padding-bottom: 4px;
}
.navigation-list .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 16px;
}

/* 
    Library-bar
*/
.library-list .layout {
    padding: 8px 0px 8px 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.library-list .layout span {
    margin: 0px;
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    align-self: center;
}

/*
    Main content;
*/
.main-content {
    padding-bottom: 16px;;
    display: flex;
    flex-direction: column;
}

.content::-webkit-scrollbar {
  width: 8px;
}
.content::-webkit-scrollbar-thumb {
  background: #636363;
  border-radius: 8px;
}

.topbar {
    min-height: 32px;
    padding: 8px 0px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 1px solid #636363;
}
.topbar .account-state {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}
.topbar .account-state .signup {
    padding: 8px 16px;
}
.topbar .account-state .signup:hover a {
    color: #ffffff;
}
.topbar .account-state .login {
    background-color: #ffffff;
    padding: 8px 16px;
    border-radius: 32px;
}
.topbar .account-state .login a {
    color: black;
}
.topbar .account-state .login:hover {
    background-color: #1ED760;
}
.topbar .account-state a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0px;
}

.content {
    flex-grow: 1;
    overflow-y: auto;
}

.suggestion-list {
  margin: 32px 0px 32px 16px;
}
.suggestion-list h2 {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 20px;
}
.suggestion-list .list {
  padding-left: 16px;
  padding-bottom: 4px;
  display: flex;
  flex-direction: row;
  gap: 28px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
}
.suggestion-list .list::-webkit-scrollbar {
  margin-top: 4px;
  height: 4px;
}
.suggestion-list .list::-webkit-scrollbar-thumb {
  background: #636363;
  border-radius: 4px;;
}
  
.suggestion-list .list .item {
  height: 200px;
  min-height: 170px;
  min-width: 150px;
  transition: all ease 0.4s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin-left: 0.4em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.item-image {
  height: 160px; 
  min-height: 150px;
  min-width: 150px;
  background-color: #1D1D1F;
  border-radius: 50%; 
  transition: all ease 0.4s;
  overflow: hidden; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.item-image img {
    height: 100%; 
    width: auto; 
}
.suggestion-list .list .item .artist-name h4{
  color: #ffffff;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 8px;
  text-align: center;
}
  .suggestion-list .list .item:hover {
    transform: scale(1.08); 
  }
  .suggestion-list .list .item img {

    border-radius: 50px;
  }
  .suggestion-list .list .item .play {
    position: relative;
  }
  
  .suggestion-list hr {
    margin: 64px 0px 0px;
    border-color: #636363;
  }

.scott-playlists .list .item {
    min-width: 140px;
    width: 160px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: #181818;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease 0.4s;
  }
.scott-playlists .list .item:hover {
    background-color: #252525;
}
.scott-playlists .list .item img {
  border-radius: 8px;
  margin-bottom: 8px;
}
  .scott-playlists .list .item .play {
    position: relative;
  }
  .scott-playlists .list .item .play .fa {
    position: absolute;
    right: 10px;
    top: -60px;
    padding: 18px;
    background-color: #1db954;
    border-radius: 100%;
    opacity: 0;
    transition: all ease 0.4s;
  }
  .scott-playlists .list .item:hover .play .fa {
    opacity: 1;
    transform: translateY(-20px);
    transition: all ease 0.4s;
  }

  .scott-playlists .list .item h4 {
    margin: 8px 0px;
    color: #ffffff;
  }

  .scott-playlists .list .item p {
    color: #989898;
    margin: 0px;
    font-size: 12px;
    line-height: 8px;
    font-weight: 600;
  }
  .scott-playlists hr {
    margin: 64px 0px 0px;
    border-color: #636363;
  }

.preview {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to right, #ae2896, #509bf5);
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}
.preview h6 {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
}
.preview p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}
.preview button {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-weight: bold;
  padding: 14px 30px;
  border: 0px;
  border-radius: 40px;
  cursor: pointer;
}





