{% extends "base.html" %}

{% block content %}
  <div class="container">
    <h2>{{ playlist.name }}</h2>
      <div class="playlist">
        <ul>
        {% for song in playlist.songs.all %}
            <div class="row mb-3 col-12 align-items-center">
                <div>
                    <img src="{{ MEDIA_URL }}{{ song.get_image_uri }}" alt="song cover" class="img-fluid" height="130" width="130">
                </div>
                <div class="col-md-4" >
                    <h5>{{ song.name }}</h5>
                    <audio controls class="default_vol">
                        <source src="{% url 'stream_song' song.id %}" type="{{ song.get_mime_type }}">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>`
        {% empty %}
            <li>No songs in this playlist yet.</li>
        {% endfor %}
        </ul>
    </div>
  
    {% if request.user == playlist.user.user %}
      <a href="{% url 'delete_playlist' playlist.id %}">Delete this playlist</a>
    {% endif %}
  </div>
{% endblock %}