{% extends "templates/home_base.html" %}
{% block header %}
    <div class="search-title">Playlists</div>
{% endblock %}

{% block main %}
    
    <section class="mt-0 py-0 overflow-x-visible whitespace-nowrap list">
        <ul>
            {% for playlist in current_user.userprofile.playlist_set.all %}
                <li class="flex items-center">
                    <span> <strong class="text-xl">{{ forloop.counter }}</strong> </span>
                    <span>
                        <a class="text-white-500 hover:underline">
                           <strong> {{ playlist.name }} </strong>
                        </a>    
                    </span>
                    <span>
                        <a href="{% url 'update_playlist' playlist.id %}"
                           hx-get="{% url 'update_playlist' playlist.id %}"
                           hx-target="#swap"
                           hx-swap="outerHTML"
                           class="btn btn-primary hover:underline">Update</a>
                    </span>
                    <span>
                        <a class="play-all-button" data-album="{{ playlist.get_song_info }}"><i class="fas fa-play "></i></a>
                    </span>
                    <span>
                        <a class="add-all-button" data-album="{{ playlist.get_song_info }}"><i class="fas fa-plus "></i></a>
                    </span>
                </li>
                {% empty %}
                <li><strong>No playlists available.</strong></li>
            {% endfor %}
        </ul>
        <br>
        <a href="{% url 'create_playlist' %}"
           hx-get="{% url "create_playlist" %}"
           hx-target="#swap"
           hx-swap="outerHTML"
           class="other-button font-bold py-2.5 px-6 rounded mb-4 mt-4"
        >
            Add Playlist
        </a>
    </section>

{% endblock %}