{% extends "templates/home_base.html" %}
{% load static %}
{% block header %}
    <div class="search-title">Update Playlist</div>
{% endblock %}
{% block main %}
   <section style=" margin-top:0; padding:0; overflow-x: visible; white-space:nowrap;">
        <form
                id="updateForm"
                hx-post="{% url "update_playlist" form.instance.id %}"
                hx-encoding="multipart/form-data"
                hx-target="#swap"
                hx-swap="outerHTML"
        >
            {% csrf_token %}
            <div class="input-box" style="width: 400px">
                {% if form.name.errors %}
                    <div class="error text-xs">{{ form.name.errors }}</div>
                {% endif %}
                <label for="{{ form.name.id_for_label }}">{{ form.name.label }}:
                    <input class="bg-gray-800 text-white border border-gray-600 rounded mb-4 px-1 py-1"
                           type="text" name="{{ form.name.name }}" style="width: 400px"
                            value="{{ form.name.value }}">
                </label>
            </div>
        
            <div class="input-box">
                {% if form.songs.errors %}
                    <div class="error text-xs mb-1">{{ form.songs.errors }}</div>
                {% endif %}
                <label for="{{ form.songs.id_for_label }}">{{ form.songs.label }}: <br>
                    <select id="id_songs" multiple class="bg-gray-800 text-white border border-gray-600 rounded py-1 px-1 mb-4"
                            name="{{ form.songs.name }}" style="width: 300px; height: 350px">
                        {% for value, name in form.songs.field.choices %}
                            <option value="{{ value }}" {% if value in form.songs.value %}selected{% endif %}>{{ name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            
            <br>
            <button id="update" type="submit" class="gradient-button font-bold py-2.5 px-6 rounded mb-4">Update</button>
        </form>
        <div id="loading" style="display: none;">
            <p>Updating playlist, please wait...</p>
        </div>
   
        <form 
                hx-post="{% url 'delete_playlist' form.instance.id %}"
                hx-target="#swap"
                hx-swap="outerHTML"
        >
            {% csrf_token %}
            <button type="submit" class="danger-button font-bold py-2.5 px-6 rounded mb-4">Delete Playlist</button>
        </form>
   
   </section>
    <script>
        var updateButton = document.getElementById('update');
        var loading = document.getElementById('loading');
        
        document.getElementById('updateForm').addEventListener('submit', function() {
            updateButton.style.display = 'none';
            loading.style.display = 'block';
        });
        
        document.getElementById('updateForm').addEventListener('invalid', function() {
            updateButton.style.display = 'block';
            loading.style.display = 'none';
        }, true);
    </script>
    <script>
    $(document).ready(function() {
        $('#id_songs').mousedown(function(e) {
            e.preventDefault();
    
            var select = this;
            var scroll = select.scrollTop;
    
            e.target.selected = !e.target.selected;
    
            setTimeout(function(){select.scrollTop = scroll;}, 0);
    
            $(select).focus();
        }).mousemove(function(e){e.preventDefault()});
    });
    </script>
    
{% endblock %}