{% extends "templates/base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-style.css' %}">
{% endblock %}

{% block body_class %}
    bg-black h-screen flex flex-col items-center justify-center
{% endblock %}

{% block content %}
    <div class=" w-full px-6">

        <div class="bg-black">
            <div class="mb-2 max-w-x w-full ">
                <h2 class="text-2xl text-white font-bold mt-2">Password Reset Complete</h2>
                <p class="text-white mb-4">Your password has been set. You may go ahead and log in now.</p>
                <a href="{% url 'login' %}" class="gradient-button text-white font-bold py-2 px-6 rounded w-full mb-4">Log in</a>
            </div>
        </div>
    
    </div>
{% endblock %}