{% extends "templates/base.html" %}

{% load static %}

{% block body_class %}
    bg-black h-screen flex flex-col items-center justify-center
{% endblock %}

{% block content %}
    <div class=" w-full px-6">
        <img src="{% static 'image/password_reset_done.jpg' %}" alt="Done" width="200" height="150">
        <div class="bg-black">
            <div class="mb-2 max-w-x w-full ">
                <h2 class="text-2xl text-white font-bold mt-2">Password Reset Mail Sent</h2>
                <p class="text-white">We've emailed you instructions for setting your password. You should receive them shortly.</p>
            </div>
        </div>
    
    </div>
{% endblock %}