{% extends "templates/base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-style.css' %}">
    <style>
        .error {
            color: red;
            font-weight: bold;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
{% endblock %}

{% block body_class %}
    bg-black h-screen flex flex-col items-center justify-center
{% endblock %}

{% block content %}
    <div class="max-w-xs w-full px-6">
        <div class="mb-10 flex flex-col items-center">
            <img src="{% static 'image/gold_fish_brain.jpg' %}" alt="SCOTT_Logo" >
        </div>

        <form method="post" class="bg-black">
            {% csrf_token %}
            <div class="mb-2 max-w-x w-full ">
                {% if form.email.errors %}
                    <div class="error text-xs mb-1">{{ form.email.errors }}</div>
                {% endif %}
                <label>
                    <input class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-6 w-full mb-4"
                           type="email" name="{{ form.email.name }}" placeholder="Email">
                </label>

                <button type="submit" class="gradient-button text-white font-bold py-2 px-6 rounded w-full mb-4">Reset my password</button>

                {% if form.non_field_errors %}
                    <div class="error text-xs text-center ">{{ form.non_field_errors }}</div>
                {% endif %}
            </div>

            <p class="text-center text-gray-400 text-xs mt-2">
                Remembered your password?<a href="{% url 'login' %}" class="text-green-500"> Login</a>
            </p>
        </form>

        <p class="text-center text-gray-500 text-xs mt-4">
            &copy; SCOTT
        </p>
    </div>
{% endblock %}