<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>
            SCOTT
        </title>
        <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.png' %}">
    {% block styles %}
    {% endblock %}
</head>

<body class="{% block body_class %} {% endblock %}" style="{% block body_style %} {% endblock %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <main>
        {% block content %}

        {% endblock %}
    </main>

</body>
</html>