<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.4/dist/tailwind.min.css" rel="stylesheet">
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/login-style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/music-player.css' %}"/>
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
       
  
        <title>
            SCOTT
        </title>
        <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.png' %}">
    {% block styles %}
    {% endblock %}
</head>

<body class="{% block body_class %} {% endblock %}" style="{% block body_style %} {% endblock %}">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://unpkg.com/htmx.org@1.6.1"></script>
<script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/multi-swap.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <main>
        {% block content %}

        {% endblock %}
    </main>

</body>
</html>