<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<!-- Bootstrap CSS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>
        SCOTT
        {% block title %}
        {% endblock %}
    </title>
    <link rel="icon" type="image/x-icon" href="{% static 'image/favicon.png' %}">
</head>

<body>
<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <main>
        {% block content %}

        {% endblock %}
    </main>

</body>
</html>