
{% extends "base.html" %}
{% load static %}


{% block content %}
    {% if user.is_authenticated %}
        <div class="d-flex align-items-center">

            <h1>Hello <img src="{{ MEDIA_URL }}{{ user_profile.get_image_uri }}" alt="User avatar" width="30" height="30" style="margin-bottom: 5px;" >
                <a href="{% url 'update_user_info' %}">{{ user.username }}</a>, where to leave? logout here --->
            </h1>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        </div>
    {% else %}
        <div class="d-flex align-items-center">
            <h1>Hello...? Oh, you haven't logged in, login here ---></h1>
            <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        </div>
    {% endif %}
    <img src="{% static 'image/image.jpg' %}" alt="logo?">
    <h1>Welcome to our music site!</h1>
    
    <div class="container py-3">

        
        {% for song in songs %}
            {% if forloop.counter0|divisibleby:3 %}
                {% if not forloop.first %}</div>{% endif %}
                <div class="row mb-3">  
            {% endif %}
            <div class="col-lg-4 mb-3"> 
                <div class="card mx-2" style="width: 90%;">
                    <img class="card-img-top" src="{{ MEDIA_URL }}{{ song.get_image_uri }}" alt="song cover">
                    <div class="card-body">
                        <h5 class="card-title">{{ song.name }} <br> {{ song.get_artists }}</h5>
                        <audio controls class="w-100 mt-3">
                            <source src="{% url 'stream_song' song.id %}" type="{{ song.get_mime_type }}">
                            Your browser does not support the audio element.
                        </audio>
                        {% if user.is_authenticated and user.userprofile.artist and user.userprofile.artist in song.artists.all %}
                            <a href="{% url 'update_song' song.id %}" class="btn btn-primary mt-3">Update Song Info</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    
        <!-- Upload_Song -->
        <div class="d-flex justify-content-center mt-3">
            <a href="{% url 'upload_song' %}" class="btn btn-primary">Upload a new song</a>
        </div>

{% endblock %}

