@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);

* {
    box-sizing: border-box;
    font-family: "circular std book", sans-serif;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
}
.music-player {
    --primary-color: #ddd;
    --secondary-color: #999;
    --green-color: #2d5;
    --padding: 1em;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;


    height: 80px;
    padding: var(--padding);
    color: var(--primary-color);
}
i{
    color: var(--secondary-color);
}
i:hover{
    color: var(--primary-color);
}
.song-bar {
    position: absolute;
    left: var(--padding);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 25%;
}

.song-infos {
    display: flex;
    align-items: center;
    gap: 1em;
}
.image-container {
    --size: 4em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.song-description p {
    margin: 0.2em;
}
.title,
.artist {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.title:hover,
.artist:hover {
    text-decoration: underline;
}
.artist{
    color: var(--secondary-color);
}
.icons{
    display: flex;
    gap: 1em;
}
.progress-controller{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--secondary-color);
}
.control-buttons{
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 2em;
}
.play-pause{
    padding: 1em;
    color: #111;
    border-radius: 50%;
}
.play-pause:hover{
    transform: scale(1.1);
    color: #111;
}

.progress-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
.progress-bar{
    height: 6px;
    border-radius: 10px;
    width: 30%;
    background-color: #ccc4;
}
.progress{
    position: relative;
    height: 100%;
    width: 30%;
    border-radius: 10px;
    background-color: var(--secondary-color);
}
.progress-bar:hover .progress{
    background-color: var(--green-color);
}
.progress-bar:hover .progress::after{
    content: "";
    position: absolute;
    --size: 1em;
    width: var(--size);
    height: var(--size);
    top:50%;
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, -50%);
}
.other-features{
    position: absolute;
    right: var(--padding);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.queue {
    align-items: center;
    display: flex;
}
.volume-bar{
    display: flex;
    align-items: center;
    gap: .7em;
    height: 8px;
}
.volume-bar .progress-bar{
    width: 6em;
    align-self: center;
}
.volume-bar .progress-bar:hover .progress::after{
    --size: .8em;
    content: "";
    position: absolute;
    width: var(--size);
    height: var(--size);
    top: 50%;
    right: 0;
    border-radius: 50%;
    background-color: var(--primary-color);
    transform: translate(50%, -50%);
}

.playlist-box {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background: #111;
    width: 300px;
    height: 100vh;
}
.playlist-box .songs {
    display: flex;
    flex-direction: column;
    justify-content: normal;
    white-space: nowrap;
    margin-bottom: 3px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.playlist-box .songs {
    padding: 6px;
}
.playlist-box .songs a:hover {
    background: #555555;
}

.playlist-box .songs .playing {
    font-weight: bold;
    color: rgb(0,183,108);
}


.playlist-box.songs::-webkit-scrollbar {
    border-radius: 0 10px 10px 0;
    display: none;
    width: 10px;
    height: 10px;
}
.playlist-box.songs:hover::-webkit-scrollbar {
    display: block;
}

.playlist-box.songs::-webkit-scrollbar-corner {
    background: #0e0e0e;
    border-radius: 0 0 5px 0;
}

.song-info {
    overflow-wrap: normal;
}
.song-info img {
    height: 170px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 20px 20px 20px;
}
.song-info h1 {
    margin: 0 0 10px 0;
    font-size: 42px;
    font-weight: bold;
    font-stretch: ultra-expanded;
}
.song-info p {
    margin: 5px 0;
    font-size: 16px;
}

.song-info b {
    font-size: 24px;
}

