/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    color: #fff;
    background-color: #121212;
    display: flex;
    height: 100vh;
    max-width: 100vw;
}

/* Sidebar Styles */
.sidebar {
    background-color: #000;
    width: 200px;
    max-width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

/* Content Styles */
.content {
    flex-grow: 1;
    overflow-y: auto;
}

/* Player Styles */
.player {
    background-color: #181818;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* Header Styles */
header {
    background-color: #181818;
    padding: 0 20px 10px 20px;
    display: flex;
    justify-content: space-between;
}

/* Section Styles */
section {
    margin: 20px;
}

/* Card Styles */
.card {
    display: inline-block;
    background-color: #282828;
    margin-right: 20px;
    border-radius: 4px;
    width: 200px;
    height: 200px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.card .title {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0e0e0e;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 20px;
    border: 3px solid #0e0e0e;
}

/* Navigation Sidebar Styles */
.sidebar {
    color: #b3b3b3;
    padding: 25px 10px;
    font-size: 14px;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 5px 5px;
    margin: 5px 0;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar a:hover,
.sidebar a.active {
    background-color: #282828;
}

/* Search Bar Styles */
.search-bar {
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 20px 0;
}

/* Main Content Tiles */
.tile {
    display: inline-flex;
    flex-direction: column;
    width: 150px;
    margin: 0 10px 20px;
    text-align: center;
    color: #fff;
}

.tile img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
}

.tile .title {
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tile .subtitle {
    font-size: 12px;
    color: #b3b3b3;
}

/* Main Content Section Heading */
.content h2 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Scrollable Container for Tiles */
.scrollable-row {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
}

.scrollable-row::-webkit-scrollbar {
    height: 8px;
}

.scrollable-row::-webkit-scrollbar-thumb {
    background-color: #b3b3b3;
    border-radius: 10px;
}

/* Player Bar Styles */
.player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: #b3b3b3;
}

.player .song-info {
    display: flex;
    align-items: center;
}

.player img {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.player .song-title {
    font-size: 16px;
    font-weight: bold;
}

.player .artist-name {
    font-size: 14px;
}



.artist-card {
    max-width: 200px;
    min-width: 160px;
    height: 230px;
    width: auto;
    background: linear-gradient(to bottom right, #00b76c, #ff6a92);
    border-radius: 10px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 0 5px 10px;
    display: inline-block;
    transition: all ease 0.5s;
}
.artist-card:hover {
    padding-top: 0;
    background: linear-gradient(to bottom right, rgb(0, 255, 149), rgb(255, 132, 164));
}

.artist-card img {
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px auto 8px;
}

.artist-card .artist-name {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin-top: 8px;
    text-overflow-ellipsis: ellipsis
}

.artist-card .artist-title {
    font-size: 13px;
    color: #2e2c2c;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 16px;
}

.header-container {
    background: #121212;
    padding: 4px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2a2a2a;
    border-radius: 20px;
    padding: 10px;
    margin: 0 0;
}

.search-bar input[type="search"] {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    font-size: 18px;
    outline: none;
}

.search-bar button {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 0 10px;
    cursor: pointer;
}

.search-title {
    color: #ffffff ;
    text-decoration: underline;
    font-size: 30px;
    font-weight: bold;
    padding-top: 4px;
}

/* Sidebar Styles */
.sidebar {
    background: #000;
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow: auto;
    padding: 9px;
    display: flex;
    flex-direction: column;
}

/* Sidebar Bottom Section Styles */
.sidebar-section {
    background: #181818;
    border-radius: 10px;
    margin-bottom: 5px;
    padding-left: 4px;
    padding-right: 4px;
    overflow: hidden;
}

.sidebar-link {
    color: #b3b3b3;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s;
}

.sidebar-link:hover,
.sidebar-link.active {
    color: #fff;
}

.sidebar-link-icon {
    margin-right: 14px;
    display: inline-block;
    width: 24px; /* Adjust size as needed */
    text-align: center;
}

.sidebar-link-text {
    flex-grow: 1;
}

.sidebar-link-subtext {
    margin-left: 10px;
    background-color: #b3b3b3;
    color: #000;
    border-radius: 4px;
    padding: 2px 6px;
    font-size: 12px;
    text-transform: uppercase;
}

/* Additional styles for other sidebar elements */

/* Additional styles */
.browse-all {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    column-gap: 195px;
    row-gap: 50px;
    padding: 5px;
    background-color: #121212; /* or any other color you prefer */
}

.category-card {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 8px;
    background: #252525;
    color: white;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    height: 250px;
    width: 320px;
    transition: all ease 0.3s;
    overflow: hidden;
}
.category-card:hover {
    background: rgba(255,255,255,.2);
    transform: scale(1.05);
}

.category-card img {
    max-width: 200px;
    width: 200px;
    height: auto;
    margin-bottom: 8px;
    border-radius: 4px;
}

.category-title {
    text-align: left;
    font-size: 16px;
    margin-bottom: 8px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    text-overflow: ellipsis;
}


.category-card:hover .song-buttons {
    opacity: 1;
}

.song-buttons {
    opacity: 0;
    position: absolute;
    top: 15px;
    right: 32px;
    gap: 25px;
    transition: all ease 0.5s;
}

.round-button {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.8);
    background: linear-gradient(to bottom right, #00b76c, #ff6a92);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5s;
    cursor: pointer;
}

.round-button:hover {
    transform: scale(1.1);
    display: flex;

}
.round-button:focus {
    outline: none;
    display: flex;
}
.round-button i {
    color: #0e0e0e;
    font-size: 14px;
    margin-top: 1px;
    margin-left: 1px;
    transition: all ease 0.5s;
}
.round-button:hover i {
    color: #0e0e0e;
    font-size: 14px;
    transform: rotate(90deg);
    margin-top: 1px;
    margin-left: 1px;
}
.round-button:active {
    transform: scale(0.9);
    background: linear-gradient(to top left, #00b76c, #ff6a92);
}

/* Add more specific styles for badges if needed */
.browse-all-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    margin-left: 20px; /* Align with the padding of the grid */
    padding-top: 20px; /* Space above the title */
}




.gradient-box {
    height: 80px;
    width: auto;
    margin-top: 3px;
    border: 2px solid transparent;
    border-image-slice: 1;
    border-image-source: linear-gradient(to bottom right, #00b76c, #ff6a92);
    overflow: visible;
    border-radius: 20px;
}

.sidebar {
    z-index: 2;
    /* other styles */
}


.main {
    z-index: 1;
}

.list {
    margin-left: 20px;
    background: rgb(0,183,108);
    background: linear-gradient(180deg, rgba(0,183,108,0.7) 0%, rgba(0,183,108,0.5) 18%, rgba(0,183,108,0.3) 34%, rgba(0,183,108,0.1) 59%, rgba(0,183,108,0) 100%);
    border-radius: 8px;
    width: 920px;
}

.list2 {
    margin-left: 20px;
    background: rgb(221,93,128);
    background: linear-gradient(180deg, rgba(221,93,128,0.7) 0%, rgba(221,93,128,0.5) 18%, rgba(221,93,128,0.3) 34%, rgba(221,93,128,0.1) 59%, rgba(221,93,128,0) 100%);
    border-radius: 8px;
    width: 920px;
}

ul {
    position: relative;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

ul li {
    display: flex;
    border-radius: 5px;
    padding: 10px 20px;
    transition: .5s;
}

ul li:hover
{
    background: rgba(255,255,255,.2);
}


ul li span:nth-child(1)
{
    width: 30px;
}

ul li span:nth-child(2)
{
    width: 70px;
}
ul li span:nth-child(3)
{
    width: 600px;

}
ul li span:nth-child(4) {
    width: 100px;
    color: #bababa;
    opacity: 0;
    transition: opacity 0.5s ease;
}

ul li:hover span:nth-child(4) {
    opacity: 1;
}
ul li span:nth-child(4):hover {
   color: #ffffff;
}
ul li span:nth-child(4):active {
    color: #bababa;
}
ul li span:nth-child(5)
{
    text-align: right;
}

.purple-block {
    background: rgb(182,129,136);
    background: linear-gradient(90deg, rgba(182,129,136,0.7) 0%, rgba(182,129,136,0.5) 18%, rgba(182,129,136,0.3) 34%, rgba(182,129,136,0.1) 59%, rgba(182,129,136,0) 100%);
    border-radius: 8px;
    width: 920px;
}

.mix-block {
    background: rgb(111,140,118);
    background: linear-gradient(127deg, rgba(111,140,118,0.8) 0%, rgba(111,140,118,0.4) 18%, rgba(111,140,118,0.2) 34%, rgba(111,140,118,0.4) 59%, rgba(111,140,118,0.8) 100%);
    border-radius: 8px;
}

.error {
    color: red;
    font-weight: bold;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.danger-button {
    background: #bd0e31;
    color: #000000;
}

.danger-button:hover {
    background: #cd0d0d;
}

.other-button {
    background: #0b6aae;
    color: #ffffff;
}

.other-button:hover {
    background: #074470;
}

.library {
    max-height: fit-content;
    overflow-y: auto;
    padding: 10px;
}