{% extends "templates/base.html" %}

{% load static %}

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login-style.css' %}">
{% endblock %}

{% block body_class %}
    bg-black h-screen flex flex-col items-center justify-center
{% endblock %}

{% block content %}
  <div class="max-w-xs w-full px-6">
    <div class="mb-10 flex flex-col items-center">
      <h1 class="text-4xl text-white font-bold mt-2">Change Password</h1>
    </div>

    <form method="POST" class="bg-black text-white">
      {% csrf_token %}

      <div class="mb-2 max-w-x w-full ">
          {% for field in form %}
            <label>
                <input class="bg-gray-800 text-white border border-gray-600 rounded py-2 px-6 w-full mb-4"
                       type="{{ field.field.widget.input_type }}"
                       name="{{ field.html_name }}"
                       placeholder="{{ field.label }}">
            </label>
            {% if field.html_name == "password" %}
                <p class="text-xs text-gray-400">Password requirements: At least 8 characters, 1 uppercase letter, 1 lowercase letter, 1 number, 1 special character.</p>
            {% endif %}
          {% endfor %}
          <button type="submit" class="gradient-button text-white font-bold py-2 px-6 rounded w-full mb-4">Change password</button>
      </div>
    </form>
  </div>
{% endblock %}