{% extends "templates/base.html" %}

{% block content %}
  <h2>Update User Information</h2>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ user_form.as_p }}
    {{ profile_form.age.label_tag }}
    {{ profile_form.age }}
    <br><br>
    {{ profile_form.sex.label_tag }}
    {{ profile_form.sex }}
    <br><br>
    {{ profile_form.image_file.label_tag }}
    {{ profile_form.image_file }}
    <br>
    <img id="userImage" src="{{ MEDIA_URL }}{{ profile_form.instance.get_image_uri }}" alt="User Image" height="200" width="200">
    <br><br>
    {{ profile_form.become_artist.label_tag }}
    {{ profile_form.become_artist }}
    <div style="display: flex; align-items: center;">
      {{ profile_form.artist_name.label_tag }}
      {{ profile_form.artist_name }}
    </div>
    <br>
    <button type="submit">Update</button>
  </form>
  <form method="post" action="{% url 'delete_user' %}">
     {% csrf_token %}
     <button type="submit" class="btn btn-danger">Delete User</button>
  </form>
    
  <script>
  document.addEventListener('DOMContentLoaded', function() {
      let becomeArtistCheckbox = document.getElementById('become_artist');
      let artistNameField = document.getElementById('artist_name');
      let artistNameLabel = document.querySelector("label[for='artist_name']");
      let imageInput = document.getElementById('id_image_file');
      let userImage = document.getElementById('userImage');

      // Hide the artist name field and label initially if become_artist is not checked
    if (!becomeArtistCheckbox.checked) {
      artistNameField.style.display = 'none';
      artistNameLabel.style.display = 'none';
    }

    // Add an event listener to the become_artist checkbox
    becomeArtistCheckbox.addEventListener('change', function() {
      if (becomeArtistCheckbox.checked) {
        artistNameField.style.display = 'block';
        artistNameLabel.style.display = 'block';
      } else {
        artistNameField.style.display = 'none';
        artistNameLabel.style.display = 'none';
      }
    });

    // Update the user image when a new file is selected
    imageInput.addEventListener('change', function() {
        if (imageInput.files && imageInput.files[0]) {
            let reader = new FileReader();

            reader.onload = function(e) {
                userImage.src = e.target.result;
            }

            reader.readAsDataURL(imageInput.files[0]);
        }
    });
  });
</script>
{% endblock %}