{% extends "templates/base.html" %}

{% block content %}
    <h1>User Information</h1>
    <img src="{{ MEDIA_URL }}{{ user_profile.get_image_uri }}" alt="User Image" width="100" height="100">
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>Age: {{ user_profile.age }}</p>
    <p>Sex: {{ user_profile.sex }}</p>
    <p>Artist name: {{ user_profile.artist.Artist_name }}</p>
    
    {% if user == current_user %}
        <form action="{% url 'update_profile' %}" method="get">
          <button type="submit">Update Profile</button>
        </form>
    {% endif %}
{% endblock %}