{% extends "templates/base.html" %}

{% block content %}
  <h2>{{ artist.Artist_name }}</h2>

  <h3>Songs</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Song Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for song in songs %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td>{{ song.name }}</td>
          <td>
            <a href="{% url 'update_song' song.id %}" class="btn btn-primary">Update</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'upload_song' %}" class="btn btn-primary">Add Song</a>

  <h3>Albums</h3>
  <ul class="list-group">
    {% for album in albums %}
      <li class="list-group-item">{{ album.name }}</li>
    {% endfor %}
  </ul>
  <a href="{% url 'create_album' %}" class="btn btn-primary">Add Album</a>
{% endblock %}